<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vFit: Smart Mirror</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home.css') }}"
    />
  </head>
  <body>
    <div id="datetime"></div>
    <div id="dialog">
      <p></p>
    </div>
    <h1>vFit Smart Mirror</h1>
    <!-- <div class="glass-box"></div> -->
    <div class="robot-container animate-move-top-left" id="robotContainer">
      <div class="outer">
        <div class="antenna _1"></div>
        <div class="antenna _2"></div>
        <div class="orb1 on"></div>
        <div class="orb2 on"></div>
        <div
          class="inner animate-wobble animate-tilt-head animate-breathe animate-look"
        >
          <div class="robot-eye-left animate-blink"></div>
          <div class="robot-eye-right animate-blink"></div>
        </div>
      </div>
    </div>
    <div class="holder">
      <div class="spinner">
        <div class="panel a"></div>
        <div class="panel b"></div>
        <div class="panel c"></div>
        <div class="panel d"></div>
        <div class="panel e"></div>
        <div class="panel f"></div>
        <div class="panel g"></div>
        <div class="panel h"></div>
        <div class="panel i"></div>
        <div class="panel j"></div>
        <div class="fade"></div>
      </div>
    </div>
    <div class="pagination">
      <button type="button" id="prev">&#8592;</button>
      <button type="button" id="next">&#8594;</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='home.js') }}"></script>
    <script>
      function updateDateTime() {
        var currentDate = new Date();
        var optionsDate = {
          weekday: "long",
          year: "numeric",
          month: "long",
          day: "numeric",
        };
        var optionsTime = {
          hour: "2-digit",
          minute: "2-digit",
          second: "2-digit",
          timeZoneName: "short",
        };

        var formattedDate = currentDate.toLocaleDateString(
          "en-US",
          optionsDate
        );
        var formattedTime = currentDate.toLocaleTimeString(
          "en-US",
          optionsTime
        );

        document.getElementById(
          "datetime"
        ).innerHTML = `<div>${formattedDate}</div><div>${formattedTime}</div>`;
      }

      updateDateTime();
      setInterval(updateDateTime, 1000);
    </script>
  </body>
</html>
