<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Code</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='qr_code.css') }}"
    />
  </head>
  <body>
    <audio
      id="talk1"
      src="{{ url_for('static', filename='talk1.mp3') }}"
    ></audio>
    <div id="dialog">
      <p></p>
    </div>
    <img
      src="{{ url_for('static', filename='result/' + i + '.jpg') }}"
      alt="Result"
      class="result"
    />
    <img
      src="{{ url_for('static', filename='qr_code/' + i + '.png') }}"
      alt="QR Code"
      class="qr_code"
    />
    <div class="robot-container animate-move-top-left" id="robotContainer">
      <div class="outer">
        <div class="antenna _1"></div>
        <div class="antenna _2"></div>
        <div class="orb1 on"></div>
        <div class="orb2 on"></div>
        <div
          class="inner animate-wobble animate-tilt-head animate-breathe animate-look"
        >
          <div class="robot-eye-left animate-blink"></div>
          <div class="robot-eye-right animate-blink"></div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='qr_code.js') }}"></script>
  </body>
</html>
