.outer {
  /* background: #ffdf37; */
  width: 400px;
  height: 300px;
  margin: 200px;
  position: relative;
  background-color: #031927;
  border-radius: 50% 50% 50% 50% / 34% 34% 66% 66%;
}

.inner {
  width: 340px;
  height: 240px;
  left: 30px;
  top: 15px;
  position: absolute;
  background-color: #eef0f2;
  border-radius: 50% 50% 50% 50% / 34% 34% 66% 66%;
}

/* .robot-ears {
  background: #d7ecf7;
  border: 10px solid #000;
  border-radius: 44px;
  box-sizing: border-box;
  height: 100px;
  position: absolute;
  left: 155px;
  top: 410px;
  width: 490px;
} */

.robot-head {
  background: #fff;
  border-radius: 120px;
  border: 10px solid #000;
  box-sizing: border-box;
  position: absolute;
  top: 300px;
  left: 200px;
  width: 400px;
  height: 320px;
}

/* .pulse {
  background: red;
  border-radius: 500px;
  height: 80px;
  width: 80px;
  position: absolute;
  top: -125px;
  left: 147px;
  animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
  from {
    background: #663399;
    transform: scale(1);
    opacity: 1;
  }
  to {
    background: #fff;
    transform: scale(1.8);
    opacity: 0;
  }
} */

/* .robot-antenna {
  background: #000;
  height: 50px;
  width: 14px;
  position: absolute;
  top: -50px;
  left: 182px;
}

.robot-antenna:before {
  background: #b88ef4;
  border: 10px solid #000;
  border-radius: 100px;
  box-sizing: border-box;
  content: "";
  display: block;
  position: relative;
  top: -75px;
  left: -34.5px;
  width: 80px;
  height: 80px;
} */

.antenna.a-1 {
  width: 10px;
  height: 100px;
  position: absolute;
  top: -70px;
  left: 50px;
  background: #343436;
  transform: rotate(-30deg);
  z-index: -1;
}

.antenna.a-1::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  right: 10px;
  bottom: 5px;
  background: red;
  border-radius: 50%;
}

.antenna.a-2 {
  width: 10px;
  height: 100px;
  position: absolute;
  top: -80px;
  right: 270px;
  background: #343436;
  transform: rotate(15deg);
  z-index: -1;
}

.antenna.a-2::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  right: 10px;
  bottom: 5px;
  background: red;
  border-radius: 50%;
}

.robot-face {
  box-sizing: border-box;
  background: #94d3f7;
  border-radius: 60px;
  border: 8px solid #000;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 280px;
  height: 200px;
}

.robot-eye-left,
.robot-eye-right {
  width: 90px;
  height: 130px;
  top: 30px;
  position: absolute;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  animation: blink 4s infinite ease-in-out;
}

.robot-eye-left {
  left: 50px;
  background-color: #eec643;
  box-shadow: 0 0 20px rgba(238, 198, 67, 1);
}

.robot-eye-right {
  /* right: 56px; */
  left: 200px;
  background-color: #eec643;
  box-shadow: 0 0 20px rgba(238, 198, 67, 1);
}

@keyframes blink {
  0%,
  12%,
  100% {
    height: 130px;
    top: 30px;
  }
  5%,
  7% {
    height: 20px;
    top: 70px;
  }
}
.robot-mouth {
  width: 30px;
  height: 5px;
  position: absolute;
  left: 160px;
  top: 180px;
  background-color: #031927;
}
