@font-face {
  font-family: "Monday Feelings";
  src: url("../MondayFeelings.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.robot-container {
  width: 400px;
  height: 300px;
  margin: 200px;
  position: relative;
}

.outer {
  width: 100%;
  height: 100%;
  margin: 200px;
  position: relative;
  background-color: #d8dbdf;
  border-radius: 50% 50% 50% 50% / 34% 34% 66% 66%;
}

.inner {
  width: 340px;
  height: 240px;
  top: 20px;
  left: 30px;
  position: absolute;
  background-color: #031927;
  border-radius: 50% 50% 50% 50% / 34% 34% 66% 66%;
}

.animate-wobble {
  animation: wobble 10s infinite alternate ease-in-out;
}

.animate-tilt-head {
  animation: tilt-head 15s infinite ease-in-out;
}

.animate-breathe {
  animation: breathe 20s infinite ease-in-out;
}

@keyframes wobble {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(5px, -5px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(-5px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes tilt-head {
  0%,
  100% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

@keyframes breathe {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.robot-eye-left,
.robot-eye-right {
  width: 90px;
  height: 130px;
  top: 40px;
  position: absolute;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  animation: blink 5s infinite ease-in-out;
}

.robot-eye-left {
  left: 50px;
  background-color: #eec643;
  box-shadow: 0 0 20px rgba(238, 198, 67, 1);
}

.robot-eye-right {
  left: 200px;
  background-color: #eec643;
  box-shadow: 0 0 20px rgba(238, 198, 67, 1);
}

.animate-look {
  animation: look 10s infinite alternate ease-in-out;
}

@keyframes look {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(5px, -5px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(-5px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate-sleep {
  animation: sleep 5s infinite alternate ease-in-out;
}

@keyframes sleep {
  0%,
  100% {
    height: 5px;
    top: 100px;
  }
}

@keyframes blink {
  0%,
  12%,
  100% {
    height: 130px;
    top: 30px;
  }
  5%,
  7% {
    height: 70px;
    top: 70px;
  }
}

.animate-look-down {
  animation: look-down 1s infinite alternate ease-in-out;
}

@keyframes look-down {
  0%,
  12%,
  100% {
    height: 130px;
    top: 30px;
  }
  5%,
  7% {
    height: 100px;
    top: 70px;
  }
}

.robot-mouth {
  /* width: 30px; */
  width: 80px;
  /* height: 5px; */
  position: absolute;
  top: 30px;
  /* top: 180px; */
  left: 92px;
  /* left: 160px; */
  /* background-color: #031927; */
}

/* .pulse {
  background: red;
  border-radius: 500px;
  height: 80px;
  width: 80px;
  position: absolute;
  top: -125px;
  left: 147px;
  animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
  from {
    background: #663399;
    transform: scale(1);
    opacity: 1;
  }
  to {
    background: #fff;
    transform: scale(1.8);
    opacity: 0;
  }
} */

/* .robot-antenna {
  background: #000;
  height: 50px;
  width: 14px;
  position: absolute;
  top: -50px;
  left: 182px;
}

.robot-antenna:before {
  background: #b88ef4;
  border: 10px solid #000;
  border-radius: 100px;
  box-sizing: border-box;
  content: "";
  display: block;
  position: relative;
  top: -75px;
  left: -34.5px;
  width: 80px;
  height: 80px;
} */

.antenna-container {
  position: relative;
}

.antenna {
  width: 10px;
  height: 100px;
  position: absolute;
  background: #d8dbdf;
  z-index: -1;
}

.antenna._1 {
  top: -70px;
  left: 50px;
  transform: rotate(-30deg);
}

.antenna._2 {
  top: -80px;
  right: 270px;
  transform: rotate(15deg);
}

.antenna::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 30px;
  right: 10px;
  border-radius: 50%;
  background: red;
  background-color: rgba(255, 0, 0, 0.8);
  box-shadow: 0 1px 5px rgba(255, 0, 0);
  animation: glow 3s infinite linear;
}

@keyframes glow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
  }
}

.pulse-1 {
  width: 30px;
  height: 30px;
  top: -91px;
  left: 7px;
  position: absolute;
  background: red;
  border-radius: 50%;
  animation: pulse 3s infinite ease-in-out;
  z-index: -1;
}

.pulse-2 {
  width: 30px;
  height: 30px;
  top: -108px;
  left: 127px;
  position: absolute;
  background: red;
  border-radius: 50%;
  animation: pulse 3s infinite ease-in-out;
  z-index: -1;
}

@keyframes pulse {
  from {
    background: red;
    transform: scale(1);
    opacity: 1;
  }
  to {
    background: #fff;
    transform: scale(1.8);
    opacity: 0;
  }
}

.snores {
  top: -8%;
  left: 125%;
  position: relative;
  font-family: "Monday Feelings", sans-serif;
}

.snore {
  top: 40px;
  font-size: 30px;
  color: black;
  position: absolute;
}

.snore-1 {
  animation: snoring 3s linear 1s infinite;
}

.snore-2 {
  animation: snoring 3s linear 2s infinite;
}

.snore-3 {
  animation: snoring 3s linear 3s infinite;
}

@keyframes snoring {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(0.3);
  }
  50% {
    opacity: 0.7;
    transform: translate(20px, -70px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(40px, -140px) scale(1.7);
  }
}
